:root {
}

/*#region Reset styles*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
}
button {
  font-family: inherit;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}
/*#end region Reset styles/

/* #region Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--navy-blue-modal);
  overflow-y: auto;

  /* hide element */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* #end region Backdrop*/

.modal {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 64px 20px;
  width: 375px;
  height: 1221px;
  background: #fff;
}
.modal-caption {
  font-family: "Mulish", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  margin-bottom: 16px;
}
.modal-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
}
.modal-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}
.contacts {
}
.contact-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.contacts-item {
}
.contacts-icon {
}
.contacts-name {
}
.contacts-link {
}
.modal-form {
}
.modal-form-field {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 335px;
  gap: 24px;
}
.modal-form-label {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.modal-form-wrapper {
}
.modal-form-field textarea {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.modal-form-input {
}
.textarea {
}
.modal-form-comment {
}
.btn-submit {
}
